/* FOR MOBILE */
@media (max-width: 768px) {
    .main-image {
        height: 120vw;
        width: 100%;
        object-fit: cover;
    }

    .samasa {
        font-family: 'Barlow Condensed';
        font-size: 5.5vh;
        color: white;
        letter-spacing: 1.2vw;
        position: absolute;
        top: 5vh;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .coming-soon {
        border-radius: 2vmin;
        font-family: 'segoe ui';
        letter-spacing: 0.1vw;
        font-size: 3vh; /* Adjust font size with screen size */
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .contact-us {
        font-family: 'segoe ui';
        font-size: 2.8vh;
        transform: translate(-50%);
        left: 50%;
        color: rgb(212, 212, 212);
        letter-spacing: 0.3vw;
        position: relative;
        text-align: center;
        padding-top: 2vh;
    }
}

@media (min-width: 769px) {
    .main-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .samasa {
        font-family: 'Barlow Condensed';
        font-size: 3.5vw;
        color: white;
        letter-spacing: 1.2vw;
        position: absolute;
        top: 3.5vw;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .coming-soon {
        border-radius: 10px;
        font-family: 'segoe ui';
        font-size: 3.2vh; /* Adjust font size with screen size */
        letter-spacing: 1px;
        color: white;
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.7);
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .contact-us {
        font-family: 'segoe ui';
        font-size: 3vh;
        transform: translate(-50%);
        left: 50%;
        color: rgb(212, 212, 212);
        letter-spacing: 1px;
        /* position: absolute; */
        padding-top: 2vh;
        position: relative;
        /* margin: auto; */
        text-align: center;
    }
}


.main-image-div {
    position: relative; /* Set position to relative for the parent element */
}

.main-image-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .7) 100%);
}

.contact-us-hr {
    border-radius: 50px;
    width: 6%;
    border: 0.5px solid rgb(83, 83, 83);
    margin-top: 2vh;
}

.contact_footer {
    font-family: 'segoe ui';
    font-size: 1.8vh;
}

.mail-to {
    color: white;
    text-decoration: underline;
}